* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--secundary-color);
  font-family: "Ubuntu", sans-serif;
}

:root {
  --primary-color: #ffffff;
  --secundary-color: #d9dbe4;
  --main-title-color: #334ac3;
  --lettering-color: #8d8d8d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.base-card {
  background-color: var(--primary-color);
  border-radius: 10px;
}
